<h2>Categories</h2>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, store_category_path(category) %>
    </li>
  <% end %>
</ul>

<h1>All Products</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if product.image.attached? %>
          <%= image_tag rails_blob_url(product.image, host: "http://localhost:3000"), class: "card-img-top" %>
          <%= debug url_for(product.image) if product.image.attached? %>
        <% else %>
          <p class="text-center mt-3">No Image</p>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p><%= truncate(product.description, length: 100) %></p>
          <p><strong>Price:</strong> $<%= product.price %></p>
          <%= link_to "View Details", store_product_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
